<table class="table">
    <thead>
        <tr>
            <th width="10%">Id</th>
            <th width="30%">Title</th>
            <th width="40%">Content</th>
            <th width="20%">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.content}}</td>
            <td>
                <a routerLink="/post/edit/{{post.id}}" routerLinkActive="active" class="btn btn-primary">Edit</a>
                <input type="button" (click)="deletePost(post)" class="btn btn-danger" value="Delete" />
            </td>
        </tr>
    </tbody>
</table>