<div *ngIf="post">
    <h1>Post {{post.id}}!</h1>
    <form>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" id="text" [(ngModel)]="post.title" />
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <input type="text" class="form-control" name="content" id="content" [(ngModel)]="post.content" />
        </div>
        <button class="btn btn-primary" (click)="save()">Save</button>
        <button class="btn btn-warning" (click)="goBack()">Back</button>
    </form>
</div>