<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Angular 2.0 Demo App</a>
            </div>
            <!--<ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>-->

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
                        <li><a routerLink="/log-out" routerLinkActive="active">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container main-container">
    <router-outlet></router-outlet>
</div>